/* 基本の設定 */
* {
    margin: 0;
}


body {
    color: #666;
    margin: 0;
    padding:0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 
		[title] auto
		[sub] auto
		[recent] auto
		[foot] 100px;
	grid-row-gap: 20px;
	row-gap: 20px;
    font-family: 'Noto Serif JP', serif;
    background-color: #ffffff;
}

body > * {
	grid-column: 2 / -2;
}

/*vieoを含むheader領域 */

header{
    position: relative;
    z-index: 1;
}
.link1{
    position: absolute;
    left: 7%;
    bottom: 10%;
}
.link2{
    position: absolute;
    right: 7%;
    bottom: 10%;
}

.header-wrap {
    grid-row: title;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow:auto; 
    -webkit-overflow-scrolling:touch;
    /* border:2px solid #ccc;  */
    background:black;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    transition: .5s;
    z-index: -100;
}

.nav-wrap {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 25%;
    width: 100%;
    justify-content: space-between;
}

#logo {
    height: 100%;
}

#logo img {
    height: 100%;
    width: auto;
    border: none;
}

.header-wrap video {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:none;
    display:block;
    z-index: -1;
}

#video {
    width: 100%;
    height: auto;
}

.header-wrap p {
	grid-row: sub;
    text-align: center;
    padding-bottom: 3em;
}

.header-wrap p a {
	color: #ffffff;
	text-decoration: none;
	border: solid 1px #ffffff;
	padding: 2% 4%;
	display: inline-block;
	margin-top: 10px;
	border-radius: 10px;
	background-color: rgba(85, 93, 107, 0.5);
	font-family: 'Noto Sans JP', sans-serif;
}

.header-wrap p a:hover {
    background-color: #ef9504;
    z-index: 10;
}

#ajax a:hover {
	background-color: #ef9504;
}

/* メーン領域 */
#main{
    padding-left: 0.5em;
    font-family: 'Noto Serif JP', serif;
    /* color: rgb(49, 44, 44); */
}

section{
    grid-row: recent;
    padding-left: 2em;
    border:1px dashed rgba(145,151,162,.25);
    border-bottom:none
}

section .under{
    background: linear-gradient(transparent 70%, yellow 70%);
}

.big-img{
    width: 80%;
    height: auto;
    background-color: #fff;
}

.big-img img{
    width: 60%;
    height: auto;
    filter: brightness(50%);
}


section#projects h3 p {
    position: relative;
    display: inline-block;
    background-color: #ff8c00;
    font-family: 'Noto Sans JP', sans-serif;
    width: 60%;
    max-width: 480px;
    margin-top: -30px;
    padding: 30px 30px;
    border-radius: 32px;
}

section#projects h3 p:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    bottom: -32px;
    left: 50%;
    border-style: solid;
    border-width: 0 32px 32px 0;
    border-color: transparent #ff8c00 transparent transparent;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 999;
}

footer{
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    background: #666;
    width: 100%;
    height: auto;
    /* padding-top: 15%; */
    flex-flow: wrap;
    align-items: center;
  }
  
  footer a{
    text-decoration: none;
    color: #ffffff;
  }
  
  footer p{
    text-decoration: none;
    color: #ffffff;
  }
  


/* フッター（仮設置） */
/* footer {
	grid-row: foot;
	justify-self: center;
	align-self: center;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
} */

/* フッターのバー */
/* body::after {
	content: "";
	background-color: #eeeeee;
	grid-column: 1 / -1;
	grid-row: foot;
	z-index: -1;
} */

.flowbtn7{
    border-radius:50%;
    position:relative;
    display:inline-block;
    width:40px;
    height:40px;
    font-size:30px;
    color:#fff!important;
    text-decoration:none;
    transition:.5s;			
    }
    /* アイコンをど真ん中に*/
    .flowbtn7 i{
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    }
    /* ulタグの内側余白を０にする */
    ul.snsbtniti{
    padding:0!important;
    }
    /* ボタン全体の位置 */
    .snsbtniti{
    margin: 0 auto;
    width: 80%;
    display:flex;
    /* flex-flow:row wrap; */
    justify-content:space-around;
    }
    /* ボタン同士の余白 */
    .snsbtniti li{
    flex:0 0 33%;
    text-align:center !important;
    list-style: none;
    }
    /* ボタンにマウスを乗せた時 */
    .flowbtn7:hover{
    -webkit-transform:translateY(-5px);
    -ms-transform:translateY(-5px);
    transform:translateY(-5px);
    }
    /* Twitter */
    .fl_tw7{
    background:#666;
    }
  /* LINE */
  .fl_li7{
    background:#666;
    }
    /* Facebook */
  .fl_fb7{
    background:#666;
    }
  #sns-area{
    display: flex;
  }

/* ------------------------------------------------------------------------------------------ */