body {
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN",
    "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
}

.icon {
  display: block;
  position: fixed;
  /* right: 13px;
  top: 12px;
  width: 42px;
  height: 51px; */
  cursor: pointer;
  z-index: 2;
  text-align: center;
}

/* ハンバーガーメニュー */
.globalMenu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background: #fff;
  color: #000;
  text-align: center;
  transform: translateY(-100%);
  transition: all 0.6s;
  width: 100%;
}

.globalMenu ul {
  background: #ccc;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.globalMenu ul li {
  font-size: 1.1em;
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px dotted #333;
}

/* 最下層ライン消去 */
.globalMenu ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.globalMenu ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
}

/* 上からスライド */
.globalMenu.active {
  transform: translateY(0%);
}

/* 3本線 */
.navToggle {
  display: block;
  position: fixed;
  right: 13px;
  top: 12px;
  width: 42px;
  height: 51px;
  cursor: pointer;
  z-index: 4;
  background: #666;
  text-align: center;
}

.navToggle span {
  display: block;
  position: absolute;
  width: 30px;
  border-bottom: solid 3px #eee;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  left: 6px;
}

.navToggle span:nth-child(1) {
  top: 9px;
}
.navToggle span:nth-child(2) {
  top: 18px;
}
.navToggle span:nth-child(3) {
  top: 27px;
}
.navToggle span:nth-child(4) {
  border: none;
  color: #eee;
  font-size: 9px;
  font-weight: bold;
  top: 34px;
}

/* X作成 */
.navToggle.active span:nth-child(1) {
  top: 18px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ビデオタグ */
#video {
  z-index: 1;
}

/* 見出し部分_製品名と生産者名 */

.link1 {
  margin: 1rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.midashi1 {
  display: flex;
  justify-content: space-between;
}

.seihin {
}

.iine {
  padding-top: 1rem;
}

.midashi2 {
  display: flex;
  justify-content: space-between;
}

.seisan {
}

.follow {
  padding-top: 1rem;
}

/* コンテンツメニュー */
.menu1 {
  display: flex;
  justify-content: space-between;
}
.menu2 {
  display: flex;
  justify-content: space-around;
}

.btn1 {
  font-family: "Yu Gothic", YuGothic, Verdana, "Hiragino Kaku Gothic ProN",
    "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,
    sans-serif;
  text-align: center;
  padding-top: 5px;
  width: 200px;
}

.btn1_e {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #666;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: 0.4s;
}

.btn1_e hover {
  background-color: #666;
  border-color: #666;
  color: #fff;
}

iframe {
  width: 100%;
  max-width: 100%;
  height: auto;
}
